body {
    background-color: #1a1a2E;
    margin: 0;
}
* {
    box-sizing: border-box;
}
.login-page {
    width: 30%;
    padding: 20px;
    position: absolute;
    background-color: #4141454f;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #0b0b2b;
    top: 15%;
    left: 35%;
}

.header,
.login {
    /*border: 2px solid orange;*/
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}
.matricula,
.senha {
    width: 60%;
    height: 40px;
    border-radius: 20px;
}

#matricula {
    padding-left: 5px;
}

.matricula,
.senha {
    display: flex;
    flex-flow: row wrap;
    margin: 10px auto 10px auto;
    border-color: #dc143c;
    border-width: 3px;
    border-radius: 20px;
    border-style: solid;
    text-align: left;
    background-color: #1a1a2E;
}
.form {
    margin-bottom: 30px;
}

.material-symbols-outlined {
    width: 12%;
    height: 100%;
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #1a1a2E;
    color: rgb(91, 90, 90);
}
#matricula,
#senha {
    width: 60%;
    background: #1a1a2E;
    border: 0;
    border-radius: 20px;
    outline: none;
    color: white;
}
#login-button {
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 50%;
    border-radius: 20px;
    padding: 10px;
    background-color: #dc143c;
}

#login-button:hover {
    background-color: #fa0636bd;
}


#img {
    height: 50px;
    width: 50px;
}
.senha {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 10px auto;
    border: 3px solid crimson;
    border-radius: 20px;
    background-color: #1a1a2E;
}
.senha input {
    width: 85%;
    background: #1a1a2E;
    border: none;
    outline: none;
    color: white;
    padding-left: 5px;
    font-size: 16px;
}

.senha .toggle-password {
    cursor: pointer;
    color: rgb(91, 90, 90);
    padding: 0 20px;
}

.senha .toggle-password i {
    font-size: 20px;
}
.matricula input {
    font-size: 16px;
}

#butto-theme {
    width: 30px;
}

#themeIcon {
    background-color: #4141454f;
    position: fixed;
    top: 10px;
    right: 10px;
    margin-top: 5%;
    margin-right: 5%;
    width: 40px;
    height: 40px;
    text-align: center;
    /* Alterado para deixar a bolinha mais quadrada */
    border-radius: 15px; /* Ajuste para bordas mais quadradas */
    border: 3px solid white;
    cursor: pointer;
    /* Centraliza o ícone dentro da bolinha */
    display: flex;
    justify-content: center;
    align-items: center;
}

#themeIcon:hover {
    background-color: #2121274f;
}

#themeIcon .material-symbols-outlined {
    font-size: 20px;
    color: white;
}